<!DOCTYPE html>
<html>
  <head>
    <title> React Demo </title>
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
  </head>
  <body style="background-color:black;animation:pulse 1.25s linear 3 2s, final-pulse 3s linear 5.75s;">
    <div id="react-logo" class="center-er">
      <img height="325vmin" src="../static/images/logo.svg" style="color:blue;position:relative;animation: rotation 20s infinite linear, reveal-from-halfway 2s linear;" />
      <div style="flex-basis:100%;height:0;"> </div>

      <div id="page-content" style="animation: reveal-quick 8.75s;width:100%;">
        <div class="center-er"><p id="help-text" style="animation: text-reveal-quick 8.75s;">After you are done writing your class declarations, include the following letters EXACTLY:</p></div>
        <div style="flex-basis:100%;height:0;"> </div>
        <div class="center-er"><p style="animation: text-reveal-quick 8.75s;">//c</p></div>
        <div style="flex-basis:100%;height:0;"> </div>
        <div class="center-er"> <p style="animation: text-reveal-quick 8.75s;"> NOTE: When you change your Code Editor code, be sure to change your Comp Checker code (hit space bar, then click outside the box). This will cause the program to update. </p> </div>
        <div class="center-er"> <p style="animation: text-reveal-quick 8.75s;"> Comp checker code taken from this <a href="https://reactjs.org/docs/error-boundaries.html">link</a>. Logo taken from npm create-react-app default site. </p> </div>
        <div class="center-er"> <p style="animation: text-reveal-quick 8.75s;"> <a href="https://flaviocopes.com/rotate-image/">This person</a> and their website helped me with rotation. Everything else, I wrote :D.</p> </div>
        <div class="center-er">
          <p style="display:inline;animation: text-reveal-quick 8.75s;"> Code Editor </p>
          <p style="display:inline;animation: text-reveal-quick 8.75s;">Div tag with id "root" provided</p>
          <div style="flex-basis:100%;height:0;"> </div>
      </div>

      <div style="flex-basis:100%;height:0;"> </div>

      <div class="center-er">
        <textarea id="t-area" onchange="iframeEditor()"></textarea>
        <iframe srcdoc="" id="if"></iframe>
      </div>
      <!-- figure out a way to increase vertical distance between components -->
      <div style="flex-basis:100%;height:10%;"> </div>

      <div class="center-er">
        <p style="display:inline;animation: text-reveal-quick 8.75s;"> Comp. Checker </p>
        <p style="display:inline;animation: text-reveal-quick 8.75s;">If blank, there is no error</p>
        <div style="flex-basis:100%;height:0;"> </div>
      </div>

      <div class="center-er">
        <textarea id="t-areaComp" onchange="iframeComp()"></textarea>
        <iframe srcdoc="" id="ifComp"></iframe>
      </div>
      <script src="../static/js/index.js"></script>
      </div>
    </div>

  </body>
</html>
